[
	{
		sasl,
        [
            {sasl_error_logger, {file, "../logs/yunbi_sasl.log"}},
			{errlog_type, error}
        ]
	},
    {
        yunbi,
		[
			{redis_config, 
				[{host, "127.0.0.1"},
				{port, 6379},
				{database, 0},
				{password, ""}]
			},
			{redis_key_pre, "bi.jiankong.com."} %% 保存到redis的key的前缀
		]
	}
].